<img src="globeLogo.png" alt="Travelagent.com for your travel needs">
<img src="travelagentbanner.png" alt="Travelagent.com is your home to arrange the perfect cruise" style align="top">
<h1>Travelagent dot com</h1>
<p>Find us at the Meston Building</p> 
